*.tif
papers
./data/dim_files
*.dbf
*.prj
*.shp
*.csv
*.shx
*.cpg
*.qmd
dense_*.jpg
residual_*.jpg
UNet_dense_10_epoch.h5
UNet_residual_10_epoch.h5
*.h5
*.h5
dense_*.jpg
residual_*.jpg
modified_2cluster.png
*.zip
OneDrive_*
Ujjwa*
/output_tif
/output_tif_new
UNet_dense_10_epoch/
UNet_residual_10_epoch/
output*
GUY*
POLYGON*
UNet_dense*
GEE*/
/data_new/
/Model/*
Brazil_Shapefile
*.png
*.txt
*.jpg
segformer_water
segformer_water_finetuned
maskformer_water_finetuned/*
maskformer_water
/deeplabv3/*.pth
maskformer_water_new
mask2former_water_new